In [1]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

In [2]:
# Loading the data
df_top = pd.read_csv("/Users/andre/Documents/GitHub/Vivino_market_analysis/data/csv_streamlit/top_10_score.csv")
# checking the first 5 rows
df_top

,wines_names_vintage,score,review_amount,price,toplist_rank,country_iso,name
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,md,Moldova
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,it,Montepulciano d'Abruzzo
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,es,Ribera del Duero
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,it,Primitivo di Manduria
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,it,Marche
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,pt,Península de Setúbal
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,es,Ribera del Duero
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,es,Ribera del Duero
8,Vilafonté Series M 2014,4.4,273,48.00,7,za,Paarl
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,it,Amarone della Valpolicella Classico

In [3]:
df_top["country_iso"] = df_top["country_iso"].str.upper()

df_top

,wines_names_vintage,score,review_amount,price,toplist_rank,country_iso,name
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,MD,Moldova
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,IT,Montepulciano d'Abruzzo
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,ES,Ribera del Duero
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,IT,Primitivo di Manduria
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,IT,Marche
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,PT,Península de Setúbal
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,ES,Ribera del Duero
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,ES,Ribera del Duero
8,Vilafonté Series M 2014,4.4,273,48.00,7,ZA,Paarl
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,IT,Amarone della Valpolicella Classico

In [4]:
df_top.rename(columns={'name': 'cities'}, inplace=True)

df_top

,wines_names_vintage,score,review_amount,price,toplist_rank,country_iso,cities
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,MD,Moldova
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,IT,Montepulciano d'Abruzzo
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,ES,Ribera del Duero
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,IT,Primitivo di Manduria
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,IT,Marche
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,PT,Península de Setúbal
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,ES,Ribera del Duero
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,ES,Ribera del Duero
8,Vilafonté Series M 2014,4.4,273,48.00,7,ZA,Paarl
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,IT,Amarone della Valpolicella Classico

In [5]:
df_top.drop(['cities'], axis=1, inplace=True)

df_top

,wines_names_vintage,score,review_amount,price,toplist_rank,country_iso
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,MD
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,IT
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,ES
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,IT
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,IT
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,PT
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,ES
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,ES
8,Vilafonté Series M 2014,4.4,273,48.00,7,ZA
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,IT

In [6]:
cities = ["Moldova","Montepulciano", "Burgos", "Manduria", "Civitanova Marche", "Setubal", "Burgos", "Burgos", "Paarl", "Sant'Ambrogio di Valpolicella"]
latitude = [44.72, 43.1, 42.34, 40.4, 43.23, 38.52, 42.34, 42.34, -33.72, 45.52]
longitude = [21.66, 43.1, -3.7, 17.63, 13.18, -8.89, -3.7, -3.7, 18.96, 10.84]

df_top['cities'] = cities
df_top['latitude'] = latitude
df_top['longitude'] = longitude

df_top

,wines_names_vintage,score,review_amount,price,toplist_rank,country_iso,cities,latitude,longitude
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,MD,Moldova,44.72,21.66
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,IT,Montepulciano,43.10,43.10
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,ES,Burgos,42.34,-3.70
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,IT,Manduria,40.40,17.63
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,IT,Civitanova Marche,43.23,13.18
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,PT,Setubal,38.52,-8.89
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,ES,Burgos,42.34,-3.70
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,ES,Burgos,42.34,-3.70
8,Vilafonté Series M 2014,4.4,273,48.00,7,ZA,Paarl,-33.72,18.96
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,IT,Sant'Ambrogio di Valpolicella,45.52,10.84

In [7]:
df_top.rename(columns={'wines_names_vintage': 'wines' }, inplace=True)

df_top

,wines,score,review_amount,price,toplist_rank,country_iso,cities,latitude,longitude
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,MD,Moldova,44.72,21.66
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,IT,Montepulciano,43.10,43.10
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,ES,Burgos,42.34,-3.70
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,IT,Manduria,40.40,17.63
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,IT,Civitanova Marche,43.23,13.18
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,PT,Setubal,38.52,-8.89
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,ES,Burgos,42.34,-3.70
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,ES,Burgos,42.34,-3.70
8,Vilafonté Series M 2014,4.4,273,48.00,7,ZA,Paarl,-33.72,18.96
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,IT,Sant'Ambrogio di Valpolicella,45.52,10.84

In [ ]:
df_top.loc[6, 'latitude'] = 42.47
df_top.loc[6, 'longitude'] = -2.45

df_top

In [8]:
df_top.loc[7, 'latitude'] = 42.61
df_top.loc[7, 'longitude'] = -5.57

df_top

,wines,score,review_amount,price,toplist_rank,country_iso,cities,latitude,longitude
0,Gitana Lupi Rezerva 2017,4.6,1155,36.55,15,MD,Moldova,44.72,21.66
1,Tenuta Ulisse Limited Edition 10 Vendemmie,4.5,9453,34.20,5,IT,Montepulciano,43.10,43.10
2,Pago de Carraovejas Tinto 2020,4.5,2129,42.95,1,ES,Burgos,42.34,-3.70
3,San Marzano 60 Sessantanni Old Vines Primitivo...,4.4,1748,24.75,17,IT,Manduria,40.40,17.63
4,Guerrieri Guerriero della Terra 2019,4.4,1803,27.40,1,IT,Civitanova Marche,43.23,13.18
5,Casa Ermelinda Freitas Dona Ermelinda Grande R...,4.4,483,29.95,8,PT,Setubal,38.52,-8.89
6,Emilio Moro Malleolus 2020,4.4,625,35.95,18,ES,Burgos,42.34,-3.70
7,Arzuaga Reserva Ribera del Duero 2018,4.4,840,39.55,1,ES,Burgos,42.61,-5.57
8,Vilafonté Series M 2014,4.4,273,48.00,7,ZA,Paarl,-33.72,18.96
9,Tommasi Amarone della Valpolicella Classico 2018,4.4,1570,49.80,4,IT,Sant'Ambrogio di Valpolicella,45.52,10.84

In [9]:
#df_top.to_csv("top_10_filtered.csv", sep=',', index=False, encoding='utf-8')

In [10]:
df_cabernet = pd.read_csv("/Users/andre/Documents/GitHub/Vivino_market_analysis/data/csv_streamlit/cabernet_result.csv")

df_cabernet

         id                                        wines_names  score
0   1611255                                 Cabernet Sauvignon    4.8
1     66294               Special Selection Cabernet Sauvignon    4.7
2      3879                     Cabernet Sauvignon (Signature)    4.6
3     66284                                 Cabernet Sauvignon    4.6
4     87360   Beckstoffer To Kalon Vineyard Cabernet Sauvignon    4.6
5     94692                 Cabernet Sauvignon Coeur De Vallée    4.6
6   1145391                                 Cabernet Sauvignon    4.6
7   2653222                         CASK 23 Cabernet Sauvignon    4.6
8   2816852                                 Cabernet Sauvignon    4.6
9   3075039                      Au Paradis Cabernet Sauvignon    4.6
10  7865667                       Lithology Cabernet Sauvignon    4.6
11    94912                                 Cabernet Sauvignon    4.5
12  1107322                             FAY Cabernet Sauvignon    4.5
13  1107342                          S.L.V. Cabernet Sauvignon    4.5
14  1135642                  One Point Five Cabernet Sauvignon    4.5
15  1424847                 Blueline Estate Cabernet Sauvignon    4.5
16  1672854                 Howell Mountain Cabernet Sauvignon    4.5
17    16578                                 Cabernet Sauvignon    4.4
18    61274                                 Cabernet Sauvignon    4.4
19  1107336                         ARTEMIS Cabernet Sauvignon    4.4
20  1135641                Alexander Valley Cabernet Sauvignon    4.4
21  1138019  Georges De Latour Private Reserve Cabernet Sau...    4.4
22  1144227                                 Cabernet Sauvignon    4.4
23  1226177                     Domus Aurea Cabernet Sauvignon    4.4
24  4426928                      Altagracia Cabernet Sauvignon    4.4
25  7476568              Freienfeld Cabernet Sauvignon Riserva    4.4
26     5261  Chateau Buena Vista Cabernet Sauvignon Napa Va...    4.3
27  1294734                         Rapture Cabernet Sauvignon    4.3
28  3990250                      Rutherford Cabernet Sauvignon    4.3

In [11]:
df_cabernet.drop([3], inplace=True)
df_cabernet

         id                                        wines_names  score
0   1611255                                 Cabernet Sauvignon    4.8
1     66294               Special Selection Cabernet Sauvignon    4.7
2      3879                     Cabernet Sauvignon (Signature)    4.6
4     87360   Beckstoffer To Kalon Vineyard Cabernet Sauvignon    4.6
5     94692                 Cabernet Sauvignon Coeur De Vallée    4.6
6   1145391                                 Cabernet Sauvignon    4.6
7   2653222                         CASK 23 Cabernet Sauvignon    4.6
8   2816852                                 Cabernet Sauvignon    4.6
9   3075039                      Au Paradis Cabernet Sauvignon    4.6
10  7865667                       Lithology Cabernet Sauvignon    4.6
11    94912                                 Cabernet Sauvignon    4.5
12  1107322                             FAY Cabernet Sauvignon    4.5
13  1107342                          S.L.V. Cabernet Sauvignon    4.5
14  1135642                  One Point Five Cabernet Sauvignon    4.5
15  1424847                 Blueline Estate Cabernet Sauvignon    4.5
16  1672854                 Howell Mountain Cabernet Sauvignon    4.5
17    16578                                 Cabernet Sauvignon    4.4
18    61274                                 Cabernet Sauvignon    4.4
19  1107336                         ARTEMIS Cabernet Sauvignon    4.4
20  1135641                Alexander Valley Cabernet Sauvignon    4.4
21  1138019  Georges De Latour Private Reserve Cabernet Sau...    4.4
22  1144227                                 Cabernet Sauvignon    4.4
23  1226177                     Domus Aurea Cabernet Sauvignon    4.4
24  4426928                      Altagracia Cabernet Sauvignon    4.4
25  7476568              Freienfeld Cabernet Sauvignon Riserva    4.4
26     5261  Chateau Buena Vista Cabernet Sauvignon Napa Va...    4.3
27  1294734                         Rapture Cabernet Sauvignon    4.3
28  3990250                      Rutherford Cabernet Sauvignon    4.3

In [12]:
df_cabernet['rank'] = range(1, len(df_cabernet) + 1)

df_cabernet

         id                                        wines_names  score  rank
0   1611255                                 Cabernet Sauvignon    4.8     1
1     66294               Special Selection Cabernet Sauvignon    4.7     2
2      3879                     Cabernet Sauvignon (Signature)    4.6     3
4     87360   Beckstoffer To Kalon Vineyard Cabernet Sauvignon    4.6     4
5     94692                 Cabernet Sauvignon Coeur De Vallée    4.6     5
6   1145391                                 Cabernet Sauvignon    4.6     6
7   2653222                         CASK 23 Cabernet Sauvignon    4.6     7
8   2816852                                 Cabernet Sauvignon    4.6     8
9   3075039                      Au Paradis Cabernet Sauvignon    4.6     9
10  7865667                       Lithology Cabernet Sauvignon    4.6    10
11    94912                                 Cabernet Sauvignon    4.5    11
12  1107322                             FAY Cabernet Sauvignon    4.5    12
13  1107342                          S.L.V. Cabernet Sauvignon    4.5    13
14  1135642                  One Point Five Cabernet Sauvignon    4.5    14
15  1424847                 Blueline Estate Cabernet Sauvignon    4.5    15
16  1672854                 Howell Mountain Cabernet Sauvignon    4.5    16
17    16578                                 Cabernet Sauvignon    4.4    17
18    61274                                 Cabernet Sauvignon    4.4    18
19  1107336                         ARTEMIS Cabernet Sauvignon    4.4    19
20  1135641                Alexander Valley Cabernet Sauvignon    4.4    20
21  1138019  Georges De Latour Private Reserve Cabernet Sau...    4.4    21
22  1144227                                 Cabernet Sauvignon    4.4    22
23  1226177                     Domus Aurea Cabernet Sauvignon    4.4    23
24  4426928                      Altagracia Cabernet Sauvignon    4.4    24
25  7476568              Freienfeld Cabernet Sauvignon Riserva    4.4    25
26     5261  Chateau Buena Vista Cabernet Sauvignon Napa Va...    4.3    26
27  1294734                         Rapture Cabernet Sauvignon    4.3    27
28  3990250                      Rutherford Cabernet Sauvignon    4.3    28

In [13]:
df_cabernet.drop(range(6, 29), inplace=True)
df_cabernet

        id                                       wines_names  score  rank
0  1611255                                Cabernet Sauvignon    4.8     1
1    66294              Special Selection Cabernet Sauvignon    4.7     2
2     3879                    Cabernet Sauvignon (Signature)    4.6     3
4    87360  Beckstoffer To Kalon Vineyard Cabernet Sauvignon    4.6     4
5    94692                Cabernet Sauvignon Coeur De Vallée    4.6     5

In [14]:
df_cabernet['grape'] = "Cabernet_Sauvignon"
df_cabernet

,id,wines_names,score,rank,grape
0,1611255,Cabernet Sauvignon,4.8,1,Cabernet_Sauvignon
1,66294,Special Selection Cabernet Sauvignon,4.7,2,Cabernet_Sauvignon
2,3879,Cabernet Sauvignon (Signature),4.6,3,Cabernet_Sauvignon
4,87360,Beckstoffer To Kalon Vineyard Cabernet Sauvignon,4.6,4,Cabernet_Sauvignon
5,94692,Cabernet Sauvignon Coeur De Vallée,4.6,5,Cabernet_Sauvignon

In [15]:
df_chardonnay = pd.read_csv("/Users/andre/Documents/GitHub/Vivino_market_analysis/data/csv_streamlit/chardonnay_result.csv")

df_chardonnay

        id                   wines_names  score
0    17943              Chloe Chardonnay    4.5
1  5859611            Reserve Chardonnay    4.5
2  8164925  Bentrock Vineyard Chardonnay    4.5
3    18903                    Chardonnay    4.4
4  1721196                    Chardonnay    4.4
5  2052637        One Sixteen Chardonnay    4.4
6  6887039      Hyde Vineyard Chardonnay    4.4
7     1697                    Chardonnay    4.3

In [16]:
df_chardonnay.drop([3,4], inplace=True)
df_chardonnay

        id                   wines_names  score
0    17943              Chloe Chardonnay    4.5
1  5859611            Reserve Chardonnay    4.5
2  8164925  Bentrock Vineyard Chardonnay    4.5
5  2052637        One Sixteen Chardonnay    4.4
6  6887039      Hyde Vineyard Chardonnay    4.4
7     1697                    Chardonnay    4.3

In [17]:
df_chardonnay.drop([7], inplace=True)
df_chardonnay

        id                   wines_names  score
0    17943              Chloe Chardonnay    4.5
1  5859611            Reserve Chardonnay    4.5
2  8164925  Bentrock Vineyard Chardonnay    4.5
5  2052637        One Sixteen Chardonnay    4.4
6  6887039      Hyde Vineyard Chardonnay    4.4

In [18]:
df_chardonnay['rank'] = range(1, len(df_chardonnay) + 1)

In [19]:
df_chardonnay['grape'] = "Chardonnay"
df_chardonnay

        id                   wines_names  score  rank       grape
0    17943              Chloe Chardonnay    4.5     1  Chardonnay
1  5859611            Reserve Chardonnay    4.5     2  Chardonnay
2  8164925  Bentrock Vineyard Chardonnay    4.5     3  Chardonnay
5  2052637        One Sixteen Chardonnay    4.4     4  Chardonnay
6  6887039      Hyde Vineyard Chardonnay    4.4     5  Chardonnay

In [20]:
df_merlot = pd.read_csv("/Users/andre/Documents/GitHub/Vivino_market_analysis/data/csv_streamlit/merlot_result.csv")

df_merlot

        id                  wines_names  score
0    91569  Calle Merlot Rosso Veronese    4.4
1  1653416                       Merlot    4.4
2  6274335            110 e Lode Merlot    4.4
3     3882           Merlot (Signature)    4.3

In [21]:
df_merlot.drop([1], inplace=True)
df_merlot

        id                  wines_names  score
0    91569  Calle Merlot Rosso Veronese    4.4
2  6274335            110 e Lode Merlot    4.4
3     3882           Merlot (Signature)    4.3

In [22]:
df_merlot['rank'] = range(1, len(df_merlot) + 1)
df_merlot['grape'] = "Merlot"

df_merlot

        id                  wines_names  score  rank   grape
0    91569  Calle Merlot Rosso Veronese    4.4     1  Merlot
2  6274335            110 e Lode Merlot    4.4     2  Merlot
3     3882           Merlot (Signature)    4.3     3  Merlot

In [23]:
df_compilation = pd.concat([df_chardonnay, df_cabernet, df_merlot], axis=0, ignore_index=True)
df_compilation.reset_index(drop=True, inplace=True)

df_compilation.to_csv("grape_wine.csv", sep=',', index=False, encoding='utf-8')

In [24]:
import json

df = pd.read_csv("/Users/andre/Documents/GitHub/Vivino_market_analysis/data/csv_streamlit/grape_wine.csv")

json_df = df.to_json(orient="values")
dict_converted = json.loads(json_df)

nodes = []
edges = []
grapes = []
wines = []

for data in dict_converted:
    type_grape = data[4]
    wines_names = data[1]

for data in dict_converted:
    type_grape = data[4]
    wines_names = data[1]
    
    if wines_names not in wines:
        nodes.append(wines_names)
        wines.append(wines_names)
    
    if type_grape not in grapes:
        nodes.append(type_grape)
        grapes.append(type_grape)

print(nodes)

['Chloe Chardonnay', 'Chardonnay', 'Reserve Chardonnay', 'Bentrock Vineyard Chardonnay', 'One Sixteen Chardonnay', 'Hyde Vineyard Chardonnay', 'Cabernet Sauvignon', 'Cabernet_Sauvignon', 'Special Selection Cabernet Sauvignon', 'Cabernet Sauvignon (Signature)', 'Beckstoffer To Kalon Vineyard Cabernet Sauvignon', 'Cabernet Sauvignon Coeur De Vallée', 'Calle Merlot Rosso Veronese', 'Merlot', '110 e Lode Merlot', 'Merlot (Signature)']